In [1]:
import geopy.distance
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('./data/capacity2.csv')
country_name = df['country'].tolist()

In [7]:
country_name

['Argentina',
 'Australia',
 'Brazil',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Finland',
 'France',
 'Germany',
 'India',
 'Indonesia',
 'Iran',
 'Japan',
 'Kazakhstan',
 'Malaysia',
 'Mexico',
 'Mozambique',
 'Norway',
 'Peru',
 'Philippines',
 'Portugal',
 'Russia',
 'Saudi arabia',
 'South Africa',
 'South korea',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United States']

In [9]:
ncty = len(country_name)
res = np.zeros([ncty,ncty])
for i in range(ncty):
    for j in range(ncty):
        c1 = country_name[i]
        c2 = country_name[j]
        c1info = geopy.geocoders.Nominatim(user_agent="my-app").geocode(c1)[1]
        c2info = geopy.geocoders.Nominatim(user_agent="my-app").geocode(c2)[1]
        distance = geopy.distance.distance(c1info, c2info).km
        res[i,j] = distance

In [11]:
df = pd.DataFrame(res, columns=country_name)
df.index = country_name
df.to_csv('distance_31111.csv')

In [13]:
country1 = "United States"
country2 = "South Afraic"

In [14]:
country1_coordinates = geopy.geocoders.Nominatim(user_agent="my-app").geocode(country1)[1]
country2_coordinates = geopy.geocoders.Nominatim(user_agent="my-app").geocode(country2)[1]

In [15]:
distance = geopy.distance.distance(country1_coordinates, country2_coordinates).km
distance

14936.038499595656

In [12]:
country = ['Argentina', 
           'Australia',
           'Canada',
           'China',
           'Congo',
           'Finland',
           'Japan',
           'Mozambique',
           'Russia',
           'South Afraic',
           'South Korea',
           'United States']
ncty = len(country)

In [26]:
result = np.zeros([ncty,ncty])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [29]:
for i in range(ncty):
    for j in range(ncty):
        c1 = country[i]
        c2 = country[j]
        c1info = geopy.geocoders.Nominatim(user_agent="my-app").geocode(c1)[1]
        c2info = geopy.geocoders.Nominatim(user_agent="my-app").geocode(c2)[1]
        distance = geopy.distance.distance(c1info, c2info).km
        result[i,j] = distance

In [31]:
df = pd.DataFrame(result, columns =country)
df

,Argentina,Australia,Canada,China,Congo,Finland,Japan,Mozambique,Russia,South Afraic,South Korea,United States
0,0.000000,13071.624349,11339.696072,19110.946452,9714.220236,13455.682457,17835.927984,9660.274748,16503.850679,8236.039056,18867.472373,9046.120020
1,13071.624349,0.000000,13845.235325,7322.659763,11975.557580,13376.361670,6806.898670,10073.418470,10419.393812,10452.592756,6837.931052,14654.086230
2,11339.696072,13845.235325,0.000000,8944.219335,12408.829137,5682.748135,7604.430485,14539.812228,5891.431955,15035.501610,8064.069380,2423.609651
3,19110.946452,7322.659763,8944.219335,0.000000,9399.591636,6062.858354,3084.018775,9527.342785,3337.861212,10967.513979,2054.273363,11323.518191
4,9714.220236,11975.557580,12408.829137,9399.591636,0.000000,7347.676649,12466.332460,2171.760494,9545.860331,2861.955049,11448.007464,13100.147093
5,13455.682457,13376.361670,5682.748135,6062.858354,7347.676649,0.000000,7481.040284,9184.783053,3332.926584,10205.169137,6985.528442,7639.451447
6,17835.927984,6806.898670,7604.430485,3084.018775,12466.332460,7481.040284,0.000000,12520.811242,4149.883300,13917.104038,1032.158578,9584.571561
7,9660.274748,10073.418470,14539.812228,9527.342785,2171.760494,9184.783053,12520.811242,0.000000,10719.455550,1457.692525,11508.297273,15202.001586
8,16503.850679,10419.393812,5891.431955,3337.861212,9545.860331,3332.926584,4149.883300,10719.455550,0.000000,12092.290102,3696.224232,8313.428774
9,8236.039056,10452.592756,15035.501610,10967.513979,2861.955049,10205.169137,13917.104038,1457.692525,12092.290102,0.000000,12920.485405,14936.038500
10,18867.472373,6837.931052,8064.069380,2054.273363,11448.007464,6985.528442,1032.158578,11508.297273,3696.224232,12920.485405,0.000000,10219.344737
11,9046.120020,14654.086230,2423.609651,11323.518191,13100.147093,7639.451447,9584.571561,15202.001586,8313.428774,14936.038500,10219.344737,0.000000

In [32]:
df.to_csv('distance_tesla.csv')